

html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body{
  background-color: #25283d;
  color: white;
}

#root{
  font-family: 'Avenir-Roman', sans-serif;
}


/*Collection container*/
.collection-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 4rem;
}


/*card container | movie options*/
.card-container{
  display: flex;
  gap: 2rem;
  overflow-x: visible;
}

/*Movie card button*/
.movie-card{
  all: unset;
  width: 280px;
  height: 160px;
  flex-shrink: 0;

}

.movie-card:focus{
  border: 3px solid #fff;
  border-radius: 16px;
  transform: scale(1.10);
  transition: transform .4s ease-in;
  z-index: 1;
}


/*Movie*/
.movie{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  display: block;
  min-width: 280px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #394049;
}

/*Modal*/
.modal{
  color: inherit;
}
.modal-content{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #394049;
}
.modal-header{
  color: #fff;
  border-bottom: none;
}
.modal-body{
  color: #fff;
}

.btn-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.play-btn:focus, .trailer-btn:focus, .add-btn:focus{
  border: 4px solid #fff;
  transform: scale(1.10);
  transition: transform .3s ease-in-out;
  z-index: 1;
}

.play-btn, .trailer-btn, .add-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fff;
  border-radius: 5px;
  width: 140px;
  height: 50px;
}

.modal-icons, .trailer-btn{
  color: #fff;
}

.trailer-btn{
  font-size: 24px;
}

.end-spacer{
  width: 30px;
  flex-shrink: 0;
}
